*{
  margin: 0;
  padding: 0;

}
.login {
  background: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png') no-repeat 5px 5px #484B4F;
  width: 100px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px 10px 0;
  color: White;
  font-size: 14px;
  text-align: left;
  color: white;
  text-indent: 40px;
  display: block;
  margin: 0 auto;

  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;

  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.login:hover {
  background-image: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png');
  background-position: 65px 5px;
  text-indent: 20px;
}


.logout {
  background: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #484B4F;
  width: 100px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px 10px 0;
  color: White;
  font-size: 14px;
  text-align: left;
  text-indent: 40px;
  display: block;
  margin: 0 auto;

  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;

  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.logout:hover {
  background-image: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png');
  background-position: 65px 5px;
  text-indent: 15px;
}
 

.a {
  border: 1px  solid rgb(7, 7, 7);

  color: blue;
  height: 410px;
  width: 237px;
  padding-top: 50px;
  margin-top: 150px;
  padding-left: 67px;
  /* margin-right: 200px; */
  margin-left: 750px;
  position: absolute ;
  
  
}

.e {
  background-color: blue;
}
.bgi{
  background-image: url('./bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: ;
  height: 100vh;
  
}


